$accent-clr-dark: rgb(118,238,228);
$accent-clr-medium: rgb(113,245,235);
$accent-clr-light: rgb(178,242,238);

$content-header-font: 'Merriweather Bold', 'Times New Roman', Times, serif;
$add-header-font: 'Merriweather Regular', 'Times New Roman', Times, serif;
$main-header-font: 'Montserrat Bold', Verdana, Arial, sans-serif;
$btn-font: 'Montserrat Regular', Verdana, Arial, sans-serif;
$content-font-add: 'Raleway Medium', 'Century Gothic', Arial, sans-serif;
$content-font: 'Raleway Regular', 'Century Gothic', Arial, sans-serif;

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}
.row {
  margin-left: -7px;
  margin-right: -7px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 7px;
  padding-left: 7px;
}

html {
  font-size: 10px;
}
.row img{
  width: 100%;
}
form, input, textarea, button, a {
  &:hover, &:focus, &:active, &:visited {
    outline: none;
  }
}
.modal-open {
  padding-right: 0 !important;
}

#homePage {
  position: relative;
  width: 100%;
  background: rgba(239,240,242,.92);
  @media (max-width: 767px) {
    background: rgb(239,240,242);
  }
  #video_bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    @media screen and (max-width: 767px) {
      display: none;
    }
    > video {
      position: absolute;
      width: 100%;
      height: 100%;
      @media (min-aspect-ratio: 16/9) {
        height: 100%;
      }
      @media (max-aspect-ratio: 16/9) {
        width: 100%;
      }
      @supports (object-fit: cover) {
        top: 0;
        left: 0;
        width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

#aboutPage, #servicesPage, #commentPage {
  width: 100%;
  background: rgb(248,250,250);
}

.header {
  padding-top: 65px;
  padding-bottom: 195px;
  background: url(../images/juice.png) no-repeat;
  background-position: 90% 80%;
  @media (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 180px;
    background: url(../images/juice.png) no-repeat;
    background-position: 90% 91%;
  }
  img {
    position: absolute;
  }
  h1 {
    text-align: center;
    color: rgb(80,80,80);
    text-transform: uppercase;
    font-family: $main-header-font;
    font-size: 4.5rem;
    letter-spacing: 0.06em;
    line-height: 5.9rem;
    margin: 195px 0 120px 0;
    text-shadow: 6px 8px 10px rgba(0,0,0,.25);
    span {
      background-color: $accent-clr-light;
    }
    @media (max-width: 767px) {
      font-size: 3.6rem;
      line-height: 4.7rem;
      margin: 110px 0 80px 0;
    }
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactUs {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-family: $btn-font;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.12em;
    color: rgb(96,96,96);
    background-color: transparent;
    border: 2px solid rgb(119,119,119);
    border-radius: 1px;
    padding: 14px 46px 12px 46px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
}
/*button hover*/
.header {
  .contactUs, .contactUs::after {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}
.header .contactUs::after {
  background: rgb(119,119,119);
  content: '';
  position: absolute;
  z-index: -1;
}
.header .contactUs:hover {
  color: rgb(239,240,242);
}
.header .contactUs::after {
  transform: skewX(20deg);
  height: 100%;
  left: -20%;
  width: 10%;
  top: 0;
}
.header .contactUs:hover::after {
  width: 120%;
  left: -10%;
}
.header .contactUs:active {
  padding: 16px 46px 10px 46px;
  border: 2px solid rgb(75,75,75);
  color: rgb(190,190,190);
}
.header .contactUs:active::after {
  background: rgb(80,80,80);
  box-shadow: inset 2px 2px rgba(75,75,75,.8);
}
/*button hover*/

/*burger btn*/
.nav-btn {
  position: absolute;
  right: 7px;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 23px;
  background: transparent;
  margin-top: 13px;
  z-index: 1000;
}
.nav-btn span, .nav-btn span:before, .nav-btn span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: rgb(96,96,96);
  position: absolute;
  left: 0;
  bottom: 10px;
  display: block;
  content: '';
}
.nav-btn span:before {
  top: -8px;
}
.nav-btn span:after {
  bottom: -8px;
}
.nav-btn span, .nav-btn span:before, .nav-btn span:after {
  transition: all 400ms ease-in-out;
}
.nav-btn.active span {
  background-color: transparent;
}
.nav-btn.active span:before, .nav-btn.active span:after {
  top: 0;
}
.nav-btn.active span:before {
  transform: rotate(45deg);
}
.nav-btn.active span:after {
  transform: rotate(-45deg);
}
/*burger btn*/

[id='nav-btn'] {
  position: absolute;
  display: none;
}
[id='nav-btn']:checked ~ .nav-btnBlock {
  position: fixed;
  right: 60px;
  z-index: 2000;
}
[id='nav-btn']:checked ~ nav {
  right: 0;
  box-shadow: 0 0 20px rgba(0,0,0,.2)
}

/*****menu*****/
body {
  overflow-x: hidden;
  right: 0;
  position: relative;
  width: auto;
}
.cont-navRight {
  background-color: $accent-clr-light;
  height: 100%;
  position: fixed;
  width: 320px;
  top: 0;
  right: -320px;
  z-index: 1000;
  -webkit-transition: right 0.4s ease;
  -moz-transition: right 0.4s ease;
  -o-transition: right 0.4s ease;
  -ms-transition: right 0.4s ease;
  transition: right 0.4s ease;
  ul {
    list-style: none;
    margin: 75px auto;
    @media (max-width: 767px) {
      margin: 45px auto;
    }
    li {
      margin: 20px 0;
    }
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $btn-font;
    font-size: 1.7rem;
    line-height: 2.3rem;
    letter-spacing: 0.06rem;
    color: rgb(96,96,96);
    background-color: transparent;
  }
}
.mask-content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.4);
  visibility: hidden;
  opacity: 0;
}
[id='nav-btn']:checked ~ .mask-content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
}
/*****menu*****/

.about, .works, .services, .team, .comment, .contacts, .follow {
  padding-top: 125px;
  padding-bottom: 125px;
  @media (max-width: 767px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: $main-header-font;
  font-size: 3.8rem;
  letter-spacing: 0.06em;
  color: rgb(51,51,51);
  padding-bottom: 12px;
  margin: 0;
  @media (max-width: 767px) {
    font-size: 3.2rem;
  }
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: $add-header-font;
  font-size: 1.8rem;
  letter-spacing: 0.06em;
  color: rgb(132,132,132);
  margin-bottom: 90px;
  @media (max-width: 767px) {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
}

.about {
  padding-bottom: 110px;
  color: rgba(0,0,0,.75);
  article {
    padding: 0 30px;
    @media screen and (max-width: 991px) {
      padding: 0 15px;
    }
  }
  h3 {
    text-transform: uppercase;
    font-family: $content-header-font;
    font-size: 2rem;
    letter-spacing: 0.06em;
    margin: 0;
    @media screen and (max-width: 575px) {
      font-size: 1.7rem;
    }
  }
  p {
    font-family: $content-font;
    font-size: 1.6rem;
    letter-spacing: 0.06em;
    line-height: 2.6rem;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-bottom: 0;
    &:last-child {
      padding-bottom: 0;
    }
    @media screen and (max-width: 575px) {
      font-size: 1.4rem;
      line-height: 2.4rem;
      padding-top: 10px;
      padding-bottom: 22px;
    }
  }
  .owl-carousel {
    overflow: visible;
    .item {
      padding-top: 30px;
      padding-bottom: 30px;
      .pic {
        display: flex;
        justify-content: center;
      }
      img {
        width: 100%;
        padding:auto;
        box-shadow: 0px 0px 20px rgba(20,20,20,.2);
      }
      span:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 82%;
        top: 40px;
        bottom: 40px;
        left: 9%;
        right: 9%;
        background-color: rgb(239,240,242);
        @media screen and (max-width: 1199px) {
          width: 96%;
          left: 2%;
          right: 2%;
        }
      }
    }
  }
  .owl-theme {
    .owl-dots {
      margin-top: 10px;
      @media screen and (min-width: 992px) {
        width: 50%;
      }
      .owl-dot {
        span {
          width: 10px;
          height: 10px;
          margin: 3px;
          cursor: pointer;
          background-color: rgb(208,208,208);
          border: none;
          border-radius: 4px;
        }
      }
      .active {
        span {
          background-color: $accent-clr-medium;
        }
      }
    }
    .owl-nav {
      position: relative;
      top: -30px;
      margin-top: 0;
      margin-right: 0;
      margin-left: auto;
      width: 135px;
      z-index: 1;
      .owl-prev {
        position: absolute;
        left: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
        background: rgb(255,255,255) url(../images/arrow_l.png) no-repeat center center;
        box-shadow: 0px 8px 11px rgba(20,20,20,.07);
        min-width: 53px;
        width: 53px;
        min-height: 53px;
        &:hover, &:focus {
          background: $accent-clr-medium url(../images/arrow_2l.png) no-repeat center center;
        }
      }
      .owl-next {
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
        background: rgb(255,255,255) url(../images/arrow_r.png) no-repeat center center;
        box-shadow: 0px 8px 11px rgba(20,20,20,.07);
        min-width: 53px;
        width: 53px;
        min-height: 53px;
        &:hover, &:focus {
          background: $accent-clr-medium url(../images/arrow_2r.png) no-repeat center center;
        }
      }
    }
  }
}

.works {
  figure {
    position: relative;
    &:hover figcaption {
      opacity: 1;
      box-shadow: 0 4px 10px rgba(0,0,0,.4);
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    right: 7px;
    bottom: 0;
    left: 7px;
    background-color: rgba(0,0,0,.65);
    font-family: $content-font;
    font-size: 1.6rem;
    letter-spacing: 0.03em;
    line-height: 2.4rem;
    color: rgba(255,255,255,.90);
    padding: 35px;
    opacity: 0;
    transition: opacity .2s ease-out;
    @media screen and (max-width: 360px) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 26px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 26px;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 26px;
    }
    h3 {
      text-transform: uppercase;
      font-family: $content-header-font;
      font-size: 2rem;
      letter-spacing: 0.06em;
      padding-bottom: 20px;
      margin-bottom: 0;
      @media screen and (max-width: 360px) {
        font-size: 1.6rem;
        padding-bottom: 17px;
      }
      @media screen and (min-width: 576px) and (max-width: 767px) {
        font-size: 1.6rem;
        padding-bottom: 17px;
      }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 1.6rem;
        padding-bottom: 17px;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}

.services {
  .serviceBlock {
    .knowMore {
      z-index: -5;
    }
    .sec {
      &_1 {
        background: url(../images/service1.jpg) no-repeat;
        background-size: cover;
      }
      &_2 {
        background: url(../images/service2.jpg) no-repeat;
        background-size: cover;
      }
      &_3 {
        background: url(../images/service3.jpg) no-repeat;
        background-size: cover;
      }
      &_4 {
        background: url(../images/service4.jpg) no-repeat;
        background-size: cover;
      }
      &_5 {
        background: url(../images/service5.jpg) no-repeat;
        background-size: cover;
      }
      &_6 {
        background: url(../images/service6.jpg) no-repeat;
        background-size: cover;
      }
    }
  }
  section {
    position: relative;
    box-sizing: border-box;
    height: 370px;
    margin: 7px auto;
    padding: 140px 60px 60px 60px;
    font-family: $content-font;
    font-size: 1.6rem;
    letter-spacing: 0.03em;
    line-height: 2.8rem;
    color: rgba(249,249,249,.99);
    background: rgba(0,0,0,.6);
    &:hover {
      background: rgba(0,0,0,.7);
      box-shadow: 0px 4px 10px rgba(0,0,0,.4);
    }
    @media screen and (max-width: 767px) {
      padding-top: 100px;
    }
    @media screen and (max-width: 575px) {
      padding: 40px;
    }
  }
  h3 {
    z-index: 50px;
    text-transform: uppercase;
    font-family: $content-header-font;
    font-size: 2rem;
    letter-spacing: 0.06em;
    padding-bottom: 20px;
    margin-bottom: 0;
    @media screen and (max-width: 575px) {
      font-size: 1.8rem;
    }
  }
  p {
    margin: 0;
    @media screen and (max-width: 575px) {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }
  .moreBtn {
    position: absolute;
    width: 60%;
    bottom: 60px;
    border: none;
    text-align: left;
    font-family: $content-font-add;
    color: rgba(249,249,249,.90);
    background: url(../images/more_accent.png) no-repeat -100px center;
    @media screen and (max-width: 575px) {
      bottom: 45px;
    }
    &:hover {
      text-decoration: none;
      background: url(../images/more_accent.png) no-repeat 120px center;
      color: $accent-clr-medium;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
    }
    &:active {
      background: url(../images/more_accent.png) no-repeat 200% center;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      -ms-transition: all .5s;
      transition: all .5s;
    }
    &:active, &:visited, &:focus {
      text-decoration: none;
    }
  }
  .modal-body {
    box-shadow: 0 4px 10px rgba(0,0,0,.4);
  }
  .modal-content {
    position: relative;
    background-color: $accent-clr-medium;
    border-radius: 2px;
    border: none;
    outline: none;
  }
  .modal-dialog {
    margin: 15px;
    @media screen and (min-width: 992px) {
      max-width: 900px;
      margin: 60px auto;
    }
    @media screen and (min-width: 576px) and (max-width: 991px) {
      max-width: 600px;
      margin: 15px auto;
    }
  }
  .modal-body {
    padding: 60px;
    padding-bottom: 100px;
    color: rgba(0,0,0,.85);
    @media screen and (max-width: 575px) {
      padding: 40px;
      padding-bottom: 80px;
    }
  }
  .close {
    position: absolute;
    right: 60px;
    bottom: 60px;
    opacity: .6;
    &:focus, &:hover {
      opacity: 1;
    }
    @media screen and (max-width: 575px) {
      right: 40px;
      bottom: 40px;
    }
    span {
      display: block;
      width: 17px;
      height: 17px;
      background: url(../images/close.png) no-repeat;
    }
  }
}

.team {
  figure {
    position: relative;
    &:hover figcaption {
      opacity: 1;
      box-shadow: 0 4px 10px rgba(0,0,0,.4);
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    right: 7px;
    bottom: 0;
    left: 7px;
    margin: 184px 18px 15px 18px;
    background-color: $accent-clr-medium;
    font-family: $content-font;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    line-height: 2.4rem;
    color: rgba(0,0,0,.8);
    padding: 38px;
    opacity: 0;
    transition: opacity .2s ease-out;
    @media screen and (max-width: 399px) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 26px;
      margin-top: 145px;
    }
    @media screen and (min-width: 400px) and (max-width: 575px) {
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 38px;
      margin-top: 184px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 26px;
      margin-top: 45px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 26px;
      margin-top: 175px;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 26px;
      margin-top: 150px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 21px;
      top: -28px;
      border: 11px solid transparent;
      border-bottom: 18px solid $accent-clr-medium;
    }
    h3 {
      text-transform: uppercase;
      font-family: $content-header-font;
      font-size: 2rem;
      letter-spacing: 0.06em;
      color: rgba(39,39,39,.95);
      padding-bottom: 20px;
      margin-bottom: 0;
      span {
        text-transform: none;
        font-family: $add-header-font;
        font-style: italic;
        font-size: 1.5rem;
        letter-spacing: 0.03em;
        color: rgba(118,121,120,.95);
        @media screen and (max-width: 360px) {
          font-size: 1.2rem;
        }
        @media screen and (min-width: 576px) and (max-width: 767px) {
          font-size: 1.2rem;
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 1.2rem;
        }
      }
      @media screen and (max-width: 360px) {
        font-size: 1.6rem;
        padding-bottom: 15px;
      }
      @media screen and (min-width: 576px) and (max-width: 767px) {
        font-size: 1.6rem;
        padding-bottom: 15px;
      }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 1.6rem;
        padding-bottom: 15px;
      }
    }
    p {
      margin: 0;
    }
    .social {
      position: absolute;
      bottom: 32px;
      @media screen and (max-width: 360px) {
        bottom: 24px;
      }
      @media screen and (min-width: 576px) and (max-width: 767px) {
        bottom: 24px;
      }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        bottom: 24px;
      }
      a {
        font-size: 1.4rem;
        color: rgba(0,0,0,.5);
        padding-right: 10px;
        &:hover {
          color: rgba(0,0,0,.8);
        }
      }
    }
  }
}

.comment {
  .owl-carousel {
    overflow: visible;
    .item {
      padding-top: 30px;
      padding-bottom: 30px;
      .content {
        section {
          min-height: 340px;
          margin: 25px auto;
          padding: 70px;
          background-color: rgb(239,240,242);
          font-family: $content-font;
          font-size: 1.6rem;
          line-height: 2.6rem;
          letter-spacing: 0.06rem;
          color: rgba(0,0,0,.7);
          text-align: center;
          @media screen and (max-width: 1199px) {
            min-height: 264px;
            padding: 40px;
          }
          @media screen and (min-width: 768px) and (max-width: 991px) {
            min-height: 201px;
            padding: 30px;
            font-size: 1.3rem;
            line-height: 1.9rem;
            margin: 15px 0 15px 15px;
          }
          @media screen and (max-width: 767px) {
            margin: 0;
            min-height: auto;
          }
          p {
            margin-bottom: 0;
            &.rating {
              padding-top: 20px;
              color: rgb(242,218,59);
              @media screen and (max-width: 1199px) {
                padding-top: 12px;
              }
              @media screen and (max-width: 991px) {
                padding-top: 15px;
              }
            }
            i {
              display: inline-block;
              margin: 0 3px;
            }
          }
          h3 {
            font-family: $content-header-font;
            font-size: 2rem;
            letter-spacing: 0.06em;
            color: rgba(39,39,39,.95);
            padding-bottom: 20px;
            margin-bottom: 0;
            @media screen and (max-width: 991px) {
              font-size: 1.6rem;
              padding-bottom: 10px;
            }
            span {
              font-family: $add-header-font;
              font-style: italic;
              font-size: 1.5rem;
              letter-spacing: 0.03em;
              color: rgba(118,121,120,.95);
              @media screen and (max-width: 991px) {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      .pic {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            margin: 0 -7px;
            width: 100%;
            top: 25px;
            bottom: 25px;
            left: 0;
            right: 0;
            background-color: rgb(239,240,242);
            @media screen and (min-width: 768px) and (max-width: 991px) {
              top: 15px;
              bottom: 15px;
            }
          }
          img {
            width: 88%;
            box-shadow: 0px 0px 20px rgba(20,20,20,.2);
          }
        }
      }
    }
  }
  .owl-theme {
    .owl-dots {
      margin-top: 10px;
      @media screen and (min-width: 768px) {
        width: 33.333333%;
      }
      .owl-dot {
        span {
          width: 10px;
          height: 10px;
          margin: 3px;
          cursor: pointer;
          background-color: rgb(208,208,208);
          border: none;
          border-radius: 4px;
        }
      }
      .active {
        span {
          background-color: $accent-clr-medium;
        }
      }
    }
    .owl-nav {
      position: relative;
      top: -30px;
      margin-top: 0;
      margin-right: 0;
      margin-left: auto;
      width: 135px;
      z-index: 1;
      .owl-prev {
        position: absolute;
        left: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
        background: rgb(255,255,255) url(../images/arrow_l.png) no-repeat center center;
        box-shadow: 0px 8px 11px rgba(20,20,20,.07);
        min-width: 53px;
        width: 53px;
        min-height: 53px;
        &:hover, &:focus {
          background: $accent-clr-medium url(../images/arrow_2l.png) no-repeat center center;
        }
      }
      .owl-next {
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
        background: rgb(255,255,255) url(../images/arrow_r.png) no-repeat center center;
        box-shadow: 0px 8px 11px rgba(20,20,20,.07);
        min-width: 53px;
        width: 53px;
        min-height: 53px;
        &:hover, &:focus {
          background: $accent-clr-medium url(../images/arrow_2r.png) no-repeat center center;
        }
      }
    }
  }
}

.partners {
  padding-top: 90px;
  padding-bottom: 90px;
  .owl-carousel {
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 69px;
      margin: 0 auto;
      img {
        width: 	auto;
      }
    }
  }
  .owl-theme {
    .owl-nav {
      .owl-prev {
        padding: 8px 7px;
        background: white url(../images/arrow_l.png) no-repeat center center;
      }
      .owl-next {
        padding: 8px 7px;
        background: white url(../images/arrow_r.png) no-repeat center center;
      }
    }
  }
}

.contactsWrap {
  background: url(../images/Bg4.jpg) no-repeat;
  background-size: cover;
}
.contacts {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-xs-12, .col-sm-12, .col-md-5, .col-lg-5, .col-xl-5, .col-md-7, .col-lg-7, .col-xl-7 {
    padding-right: 15px;
    padding-left: 15px;

  }
  font-family: $content-font;
  font-size: 1.5rem;
  line-height: 1.5em;
  color: rgba(255,255,255,.6);
  p {
    margin: 0;
  }
  form, .address {
    background: rgba(2,22,35,.7);
    padding: 26px;
  }
  .address {
    left: 15px;
    right: 15px;
    iframe {
      width: 100%;
      min-height: 220px;
      padding-top: 20px;
    }
  }
  form {
    min-height: 432px;
    input:not(.send), textarea {
      border: none;
      border-bottom: 2px solid rgba(255,255,255,.2);
      padding: 10px 6px;
      margin-bottom: 	10px;
      display: flex;
      background: transparent;
      width: 100%;
      font-family: $content-font;
      font-size: 1.5rem;
      line-height: 1.5em;
      color: rgba(255,255,255,.6);
      &:focus {
        border-bottom: 2px solid rgba(255,255,255,.6);
      }
    }
    /*button 2*/
    .send {
      position: absolute;
      cursor: pointer;
      text-transform: uppercase;
      display: inline-block;
      font-family: $btn-font;
      font-size: 1.8rem;
      line-height: 2.8rem;
      letter-spacing: 0.15em;
      color: rgba(0,0,0,.7);
      background-color: $accent-clr-medium;
      border: none;
      border-radius: 1px;
      padding: 18px 30px 16px 30px;
      bottom: 28px;
      &:hover {
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,.35);
      }
      &:active {
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,.35);
      }
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
    }
    /*button 2*/
  }
}
.followWrap {
  background: rgb(38,43,46);
}
.follow {
  text-align: center;
  padding: 90px 0;
  p {
    font-family: $content-font-add;
    font-size: 1.6rem;
    line-height: 1.6em;
    color: rgba(255,255,255,.4);
    margin: 0;
    &:first-child {
      color: rgba(255,255,255,.8);
    }
  }
  @media screen and (max-width: 575px) {
    padding: 50px 0;
    p {
      font-size: 1.4rem;
      &:first-child {
        font-size: 1.6rem;
      }
    }
  }
}
.social_ftr {
  margin-top: 14px;
  margin-bottom: 32px;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    height: 40px;
    margin: 0 4px;
    background-color: rgba(138,138,138,.4);
    font-weight: 23rem;
    color: rgb(250,244,244);
    font-size: 2.3rem;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: $main_color;
      color: rgb(38,43,46);
    }
  }
}