@import "reset"
@import "variables"
@import "mixin"
@import "fonts"
@import "menu"

//sprites
.icon-AudioPro
  background-image: url(../images/sprite.png)
  background-position: -130px -60px
  width: 120px
  height: 60px

.icon-Infinity
  background-image: url(../images/sprite.png)
  background-position: 0 0
  width: 130px
  height: 60px

.icon-Logo
  background-image: url(../images/sprite.png)
  background-position: 0 -180px
  width: 113px
  height: 46px

.icon-Menue
  background-image: url(../images/sprite.png)
  background-position: -113px -180px
  width: 30px
  height: 21px

.icon-RCO
  background-image: url(../images/sprite.png)
  background-position: 0 -120px
  width: 120px
  height: 60px

.icon-Sport
  background-image: url(../images/sprite.png)
  background-position: 0 -60px
  width: 130px
  height: 60px

.icon-Swan
  background-image: url(../images/sprite.png)
  background-position: -120px -120px
  width: 120px
  height: 60px

.icon-Swanser
  background-image: url(../images/sprite.png)
  background-position: -130px 0
  width: 130px
  height: 60px

.grid
  display: grid

header
  .container
      padding-top: 60px
      grid-template-columns: 20% 60% 20%
      grid-template-rows: 15% 55% 30%
  height: 806px
  min-width: 1440px
  background: $header_bg
  box-sizing: border-box

.header_title
  justify-items: center
  grid-row: 2
  grid-column-start: 1
  grid-column-end: 4
  align-self: center
  font-family: Montserrat-Bold , sans-serif
  font-size: 45px
  font-weight: bold
  color: #505050
  text-transform: uppercase
  text-align: center
  text-shadow: 0 9px 10px rgba(0, 0, 0, 0.24)

.container
  width: 1140px
  height: 100%
  margin: 0 auto

.logo
  @extend .icon-Logo
  grid-row: 1
  grid-column: 1



.button
  grid-column: 2
  grid-row: 3
  align-self: center
  border: 2px solid #777879
  border-radius: 2px
  width: 228px
  height: 49px
  text-align: center
  outline: none
  text-decoration: none
  text-transform: uppercase
  font-size: 18px
  font-family: Montserrat ,sans-serif
  color: #3c3c3d

.juice
  grid-row: 3
  grid-column: 3
