$main_color: #6ff6eb
$main_color_dark: #76eee4
$main_color_light: #b2f2ee
$header_bg: #eff0f2
$about_bg: #f8fafa
$ourServices_bg: #f9fbfb
$comments_bg: #f9fbfb
$testimonials_rect_bg: #eaebed
$footer_bg: #262b2e
$contact_bg: #021623
//menu
$menu_bg: rgba(42,49,64,.8)
$nav_burger: #505050
$cross_burger: #00ffff
$text_menu_button: #00ffff
$text_menu_button_hidden: #00ffff
$border_menu_button: rgba(255,255,255,.09)
$border_menu_button_hidden: rgba(111,246,235,.3)
$bg_menu_button_hidden: rgba(255,255,255,.03)
$use-all: true
$content-font: 'RalewayRegular', sans-serif