/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: RalewayRegular;
  src: local("RalewayRegular"), url(../fonts/font-railway/RalewayRegular.eot) format("eot");
  src: url(../fonts/font-railway/RalewayRegular.ttf) format("truetype");
  src: url(../fonts/font-railway/RalewayRegular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: RalewayMedium;
  src: local("RalewayMedium"), url(../fonts/font-railway/RalewayMedium.eot) format("eot");
  src: url(../fonts/font-railway/RalewayMedium.ttf) format("truetype");
  src: url(../fonts/font-railway/RalewayMedium.woff) format("woff");
  font-weight: 500; }

@font-face {
  font-family: RalewayBold;
  src: local("RalewayBold"), url(../fonts/font-railway/RalewayBold.eot) format("eot");
  src: url(../fonts/font-railway/RalewayBold.ttf) format("truetype");
  src: url(../fonts/font-railway/RalewayBold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: Montserrat-Regular;
  src: local("Montserrat-Regular"), url(../fonts/font-montserrat/Montserrat-Regular.eot) format("eot");
  src: url(../fonts/font-montserrat/Montserrat-Regular.ttf) format("truetype");
  src: url(../fonts/font-montserrat/Montserrat-Regular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: Montserrat-Medium;
  src: local("Montserrat-Medium"), url(../fonts/font-montserrat/Montserrat-Medium.eot) format("eot");
  src: url(../fonts/font-montserrat/Montserrat-Medium.ttf) format("truetype");
  src: url(../fonts/font-montserrat/Montserrat-Medium.woff) format("woff");
  font-weight: 500; }

@font-face {
  font-family: Montserrat-Bold;
  src: local("Montserrat-Bold"), url(../fonts/font-montserrat/Montserrat-Bold.eot) format("eot");
  src: url(../fonts/font-montserrat/Montserrat-Bold.ttf) format("truetype");
  src: url(../fonts/font-montserrat/Montserrat-Bold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: MerriweatherRegular;
  src: local("MerriweatherRegular"), url(../fonts/font-merriweather/MerriweatherRegular.eot) format("eot");
  src: url(../fonts/font-merriweather/MerriweatherRegular.ttf) format("truetype");
  src: url(../fonts/font-merriweather/MerriweatherRegular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: MerriweatherBold;
  src: local("MerriweatherBold"), url(../fonts/font-merriweather/MerriweatherBold.eot) format("eot");
  src: url(../fonts/font-merriweather/MerriweatherBold.ttf) format("truetype");
  src: url(../fonts/font-merriweather/MerriweatherBold.woff) format("woff");
  font-weight: bold; }

.navBurger {
  position: fixed;
  top: 82px;
  right: 152px;
  justify-self: end;
  cursor: pointer;
  background: #505050;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 15px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background: #505050;
    height: 3px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .navBurger:before {
    top: -10px; }
  .navBurger:after {
    bottom: -10px;
    width: 100%; }
  .navBurger.active {
    background: transparent;
    background-clip: content-box;
    position: fixed;
    top: 82px;
    right: 162px; }
  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #00ffff;
    width: 110%; }
  .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #00ffff;
    width: 110%; }

.overlay {
  position: fixed;
  background: rgba(42, 49, 64, 0.8);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transform-origin: right top;
  transform: scale(0);
  visibility: hidden;
  transition: all .4s ease-in-out;
  overflow: hidden; }
  .overlay.open {
    opacity: .99;
    visibility: visible;
    transform: scale(1); }
    .overlay.open li {
      display: block;
      animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
      animation-delay: .4s;
      transform: rotate(-7deg);
      transform-origin: right bottom; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .5s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .6s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .7s; }
      .overlay.open li:nth-of-type(5) {
        animation-delay: .8s; }

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vw; }
  .overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%; }
    .overlayMenu ul li {
      display: block;
      position: relative;
      opacity: 0;
      width: 100%; }
      .overlayMenu ul li a {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.09);
        color: #00ffff;
        text-decoration: none;
        font-size: 30px;
        padding: 10px 40px 10px 40px;
        margin: 5px 0;
        transition: .2s; }
        .overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
          transform: translateX(-2px);
          padding-left: 80px;
          outline: 1px solid rgba(111, 246, 235, 0.3);
          background: rgba(255, 255, 255, 0.03); }

.locked {
  overflow: hidden; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px; }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg); } }

.icon-AudioPro {
  background-image: url(../images/sprite.png);
  background-position: -130px -60px;
  width: 120px;
  height: 60px; }

.icon-Infinity {
  background-image: url(../images/sprite.png);
  background-position: 0 0;
  width: 130px;
  height: 60px; }

.icon-Logo, .logo {
  background-image: url(../images/sprite.png);
  background-position: 0 -180px;
  width: 113px;
  height: 46px; }

.icon-Menue {
  background-image: url(../images/sprite.png);
  background-position: -113px -180px;
  width: 30px;
  height: 21px; }

.icon-RCO {
  background-image: url(../images/sprite.png);
  background-position: 0 -120px;
  width: 120px;
  height: 60px; }

.icon-Sport {
  background-image: url(../images/sprite.png);
  background-position: 0 -60px;
  width: 130px;
  height: 60px; }

.icon-Swan {
  background-image: url(../images/sprite.png);
  background-position: -120px -120px;
  width: 120px;
  height: 60px; }

.icon-Swanser {
  background-image: url(../images/sprite.png);
  background-position: -130px 0;
  width: 130px;
  height: 60px; }

.grid {
  display: grid; }

header {
  height: 806px;
  min-width: 1440px;
  background: #eff0f2;
  box-sizing: border-box; }
  header .container {
    padding-top: 64px;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 30% 20% 35%; }

.header_title {
  justify-items: center;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: flex-end;
  font-family: Montserrat-Bold , sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1.2pt;
  color: #505050;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 9px 10px rgba(0, 0, 0, 0.24); }

.container {
  width: 1140px;
  height: 100%;
  margin: 0 auto; }

.logo {
  grid-row: 1;
  grid-column: 1; }

.button {
  grid-column: 2;
  grid-row: 3;
  align-self: flex-end;
  justify-self: center;
  border: 2px solid #777879;
  border-radius: 2px;
  width: 228px;
  height: 49px;
  text-align: center;
  outline: none;
  line-height: 2.6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat ,sans-serif;
  color: #3c3c3d; }

.juice {
  grid-row: 4;
  grid-column: 3; }

#about {
  height: 984px;
  background: #f8fafa;
  box-sizing: border-box; }

.title_about {
  font-family: Montserrat-Bold , sans-serif;
  font-weight: bold;
  font-size: 38px;
  letter-spacing: 1.3pt;
  color: rgba(0, 0, 0, 0.902);
  text-transform: uppercase;
  padding-top: 120px;
  text-align: center; }

#works {
  height: 1166px;
  box-sizing: border-box; }
  #works .grid {
    grid-template-columns: auto 370px auto;
    grid-template-rows: 20% 40% 40%;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }

#works h2 {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4; }

#works p {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4; }

#services {
  height: 1616px;
  background: #f9fbfb;
  box-sizing: border-box; }

.home-page {
  background: url("../Shopno one page.png");
  width: 1440px;
  height: 8214px;
  box-sizing: border-box;
  opacity: 0.2;
  top: 0;
  left: 0; }

.position-absolute {
  position: absolute;
  left: 0; }
