/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: RalewayRegular;
  src: local("RalewayRegular"), url(../fonts/font-railway/RalewayRegular.eot) format("eot");
  src: url(../fonts/font-railway/RalewayRegular.ttf) format("truetype");
  src: url(../fonts/font-railway/RalewayRegular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: RalewayMedium;
  src: local("RalewayMedium"), url(../fonts/font-railway/RalewayMedium.eot) format("eot");
  src: url(../fonts/font-railway/RalewayMedium.ttf) format("truetype");
  src: url(../fonts/font-railway/RalewayMedium.woff) format("woff");
  font-weight: 500; }

@font-face {
  font-family: RalewayBold;
  src: local("RalewayBold"), url(../fonts/font-railway/RalewayBold.eot) format("eot");
  src: url(../fonts/font-railway/RalewayBold.ttf) format("truetype");
  src: url(../fonts/font-railway/RalewayBold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: Montserrat-Regular;
  src: local("Montserrat-Regular"), url(../fonts/font-montserrat/Montserrat-Regular.eot) format("eot");
  src: url(../fonts/font-montserrat/Montserrat-Regular.ttf) format("truetype");
  src: url(../fonts/font-montserrat/Montserrat-Regular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: Montserrat-Medium;
  src: local("Montserrat-Medium"), url(../fonts/font-montserrat/Montserrat-Medium.eot) format("eot");
  src: url(../fonts/font-montserrat/Montserrat-Medium.ttf) format("truetype");
  src: url(../fonts/font-montserrat/Montserrat-Medium.woff) format("woff");
  font-weight: 500; }

@font-face {
  font-family: Montserrat-Bold;
  src: local("Montserrat-Bold"), url(../fonts/font-montserrat/Montserrat-Bold.eot) format("eot");
  src: url(../fonts/font-montserrat/Montserrat-Bold.ttf) format("truetype");
  src: url(../fonts/font-montserrat/Montserrat-Bold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: MerriweatherRegular;
  src: local("MerriweatherRegular"), url(../fonts/font-merriweather/MerriweatherRegular.eot) format("eot");
  src: url(../fonts/font-merriweather/MerriweatherRegular.ttf) format("truetype");
  src: url(../fonts/font-merriweather/MerriweatherRegular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: MerriweatherBold;
  src: local("MerriweatherBold"), url(../fonts/font-merriweather/MerriweatherBold.eot) format("eot");
  src: url(../fonts/font-merriweather/MerriweatherBold.ttf) format("truetype");
  src: url(../fonts/font-merriweather/MerriweatherBold.woff) format("woff");
  font-weight: bold; }

.icon-AudioPro {
  background-image: url(../images/sprite.png);
  background-position: -130px -60px;
  width: 120px;
  height: 60px; }

.icon-Infinity {
  background-image: url(../images/sprite.png);
  background-position: 0 0;
  width: 130px;
  height: 60px; }

.icon-Logo, .logo {
  background-image: url(../images/sprite.png);
  background-position: 0 -180px;
  width: 113px;
  height: 46px; }

.icon-Menue, .nav {
  background-image: url(../images/sprite.png);
  background-position: -113px -180px;
  width: 30px;
  height: 21px; }

.icon-RCO {
  background-image: url(../images/sprite.png);
  background-position: 0 -120px;
  width: 120px;
  height: 60px; }

.icon-Sport {
  background-image: url(../images/sprite.png);
  background-position: 0 -60px;
  width: 130px;
  height: 60px; }

.icon-Swan {
  background-image: url(../images/sprite.png);
  background-position: -120px -120px;
  width: 120px;
  height: 60px; }

.icon-Swanser {
  background-image: url(../images/sprite.png);
  background-position: -130px 0;
  width: 130px;
  height: 60px; }

.grid {
  display: grid; }

header {
  height: 806px;
  min-width: 1440px;
  background: #eff0f2; }
  header .container {
    padding-top: 60px; }

.container {
  width: 1140px;
  margin: 0 auto; }
